<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <!--    
        DocumentPath: Original document location.
        If this location is on network, make sure that PrizmService is running 
        under a network account.
        If this location is on network, do not pass mapped drive path, instead pass 
        absolute path like: \\computername\file.pdf
    -->
    <DocumentPath>%ALLUSERSPROFILE%\Accusoft\Prizm\Documents</DocumentPath>
    <!-- 
        MarkupsPath: Location for saved annotation records.
        Make sure that this directory has read/write permissions for the web server process.
    -->
    <MarkupsPath>%ALLUSERSPROFILE%\Accusoft\Prizm\Markups</MarkupsPath>
    <!-- 
        ImageStampPath: Location for images to be used as image stamps in the viewer.
        Make sure that this directory has read permissions for the web server process.
    -->
    <ImageStampPath>%ALLUSERSPROFILE%\Accusoft\Prizm\ImageStamp</ImageStampPath>
    <MarkupLayerRecordsPath>%ALLUSERSPROFILE%\Accusoft\Prizm\MarkupLayerRecords</MarkupLayerRecordsPath>
    <ValidImageStampTypes>.png,.jpg,.jpeg,.gif</ValidImageStampTypes>
    <WebServiceScheme>http</WebServiceScheme>
    <WebServiceHost>localhost</WebServiceHost>
    <WebServicePort>18681</WebServicePort>
    <WebServicePath>PCCIS/V1</WebServicePath>
    <WebServiceV2Path>v2</WebServiceV2Path>
    <EnableDocumentPath>false</EnableDocumentPath>
</Config>