<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <!--    
        DocumentPath: Original document location.
        If this location is on network, make sure that PrizmService is running 
        under a network account.
        If this location is on network, do not pass mapped drive path, instead pass 
        absolute path like: \\computername\file.pdf
        From the release 10.0 onwards, the drag and drop requires read/write permissions to this folder
        Make sure that this directory has read/write permissions for the web server process:
            example:
                chmod 777 /path/to/Documents/folder
    -->
    <DocumentPath>/usr/share/prizm/Samples/Documents/</DocumentPath>
    <!-- 
        MarkupsPath: Location for saved annotation records.
        Make sure that this directory has read/write permissions for the web server process:
            examples:
                chmod 777 /path/to/markup/folder
                OR
                chown www-data:www-data /path/to/markup/folders
    -->
    <MarkupsPath>/usr/share/prizm/Samples/markup/</MarkupsPath>
    <!-- 
        ImageStampPath: Location for images to be used as image stamps in the viewer.
        Make sure that this directory has read permissions for the web server process.
    -->
    <ImageStampPath>/usr/share/prizm/Samples/imageStamp/</ImageStampPath>    
    <ValidImageStampTypes>.png,.jpg,.jpeg,.gif</ValidImageStampTypes>    
    <WebServiceScheme>http</WebServiceScheme>
    <WebServiceHost>localhost</WebServiceHost>
    <WebServicePort>18681</WebServicePort>
    <WebServicePath>PCCIS/V1</WebServicePath>
    <WebServiceV2Path>v2</WebServiceV2Path>
    <EnableDocumentPath>false</EnableDocumentPath>
</Config>
